/*
https://www.freecodecamp.org/news/how-to-center-an-image-in-css/
*/


img {
    display: inline-block;
    width: 100%;
}

.heading-1 {
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: white;
}

.content-1 {
    text-align: center;
    margin: 20px;
    margin-top: auto;
    font-size: 20px;
}

